<div class="sidebar minimize-txt">
  <% if (userData && user && user?.id == userData?.id) { %>
    <!-- authenticated and authorized user -->

    <div class="username-container">
      <div class="username-display username-toggle">
        <p id="username-text"><strong><%= userData?.name ? formatNameForDisplay(userData.name) : 'Add a username!' %></strong></p>
        <button class="button edit-button username-edit-trigger">
          <img class="edit-icon" src="/images/edit-button.png" title="edit" alt="edit" />
        </button>
      </div>
      <div class="username-edit username-edit-toggle hidden">
        <form class="note-form" id="toggleable-edit-form" data-endpoint="/users/<%= userData.id %>/edit" method="post">
          <input type="text" class="form-control" name="username" data-field="username" value="<%= userData.name %>">
        </form>
      </div>
    </div>

    <div class="bio-container">
      <div class="bio-display bio-toggle">
        <p><%= userData?.bio ? userData?.bio : 'Add a bio!' %></p>
        <button class="button edit-button bio-edit-trigger">
          <img class="edit-icon" src="/images/edit-button.png" title="edit" alt="edit" />
        </button>
      </div>
      <div class="bio-edit bio-edit-toggle hidden">
        <form class="note-form" id="toggleable-edit-form" data-endpoint="/users/<%= userData.id %>/edit" method="post">
          <input type="text" class="form-control" name="bio" data-field="bio" value="<%= userData.bio %>">
        </form>
      </div>
    </div>

  <% } else { %>
    <!-- not authorized or authenticated users -->
    <% if (userData?.name) { %>
      <p><strong><%= formatNameForDisplay(userData.name) %></strong></p>
    <% } %>
    <p><%= userData?.bio %></p>
  <% } %>
</div>
