<%- include('partials/header.ejs'); -%>

<div class="main-content">
  <!-- --------------------- searchbar & sidebar --------------------- -->
  <%- include('partials/searchbar.ejs'); -%>
  <%- include('partials/sidebar.ejs'); -%>
  <!-- --------------------- main content --------------------- -->
  <div class="container outline">
    <% if (locals.data && locals.data.length > 0) {  %>
      <% data.forEach((note) => { %>
        <div class="book-card">
          <div class="card-body">
            <p class="text-grey card-rating minimize-txt" style="justify-self: flex-start">
              Rating: <%= note.rating %>/10 given by
              <a href="/users/<%= note.user_id %>" style="padding-left: 4px; color: var(--text-black)">
                <%= note.user_name %>
              </a>
            </p>
            <p class="text-grey card-read minimize-txt">Read:
            <% if (note.date_started && note.date_finished) { %>
              <%= `${note.date_started.getMonth() + 1}/${note.date_started.getFullYear()} - ${note.date_finished.getMonth() + 1}/${note.date_finished.getFullYear()}` %>
            <% } else if (note.date_finished) { %>
              <%= `${note.date_finished.getMonth() + 1}/${note.date_finished.getFullYear()}` %>
            <% } %>
            </p>
            <% if (locals.user && note.user_id === locals.user.id) { %>
              <div class="card-buttons card-buttons-container">
                <form class="note-form" action="/notes/<%= note.id %>/edit" method="get">
                  <button class="button edit-button" type="submit">
                    <img class="edit-icon" src="/images/edit-button.png" title="edit" alt="edit" />
                  </button>
                </form>
                <form class="note-form" action="/notes/<%= note.id %>/delete" method="post">
                  <button class="button delete warp black" type="submit" title="delete" alt="delete"></button>
                </form>
              </div>
            <% } %>
            <div class="card-title-author">
              <p class="text-black mb-0 minimize-txt"><strong><%= note.book_title %></strong></p>
              <p class="text-black card-author minimize-txt"><em><%= note.book_author %></em></p>
            </div>
            <p class="text-black mb-0 card-note minimize-txt" style="white-space: pre-line;">
              <img class="card-cover" src="<%= note.book_cover %>" alt="book cover">
              <%= note.summary %>
            </p>
            <p class="text-grey mb-0 card-year minimize-txt">Published: <%= note.book_year %></p>
            <form class="note-form" action="/notes/<%= note.id %>" method="get">
              <button class="main-button btn-lg card-button" type="submit" alt="View notes">Notes</button>
            </form>
          </div>
        </div>
      <% }); %>
    <% } else { %>
      <p>No titles available</p>
    <% } %>
  </div>
</div>

<%- include('partials/footer.ejs'); -%>
