<%- include('partials/header.ejs'); -%>

<div class="container outline show">
  <% if (locals.data) {  %>
    <div class="book-card">
      <div class="card-body">
        <p class="text-grey card-rating" style="justify-self: flex-start">Rating: <%= data.rating %>/10 given by <%= data.user_name %></p>
        <p class="text-grey card-read">Read:
        <% if (data.date_started) { %>
          <%= `${data.date_started.getMonth() + 1}/${data.date_started.getFullYear()} - ${data.date_finished.getMonth() + 1}/${data.date_finished.getFullYear()}` %>
        <% } else { %>
          <%= `${data.date_finished.getMonth() + 1}/${data.date_finished.getFullYear()}` %>
        <% } %>
        </p>
        <% if (locals.user && data.user_id === locals.user.id) { %>
          <div class="card-buttons card-buttons-container">
            <form class="note-form" action="/notes/<%= data.id %>/edit" method="get">
              <button class="button edit-button" type="submit">
                <img class="edit-icon" src="/images/edit-button.png" title="edit" alt="edit" />
              </button>
            </form>
            <form class="note-form" action="/notes/<%= data.id %>/delete" method="post">
              <button class="button delete warp black" type="submit" title="delete" alt="delete"></button>
            </form>
          </div>
        <% } %>
        <div class="card-title-author">
          <p class="text-black mb-0"><strong><%= data.book_title %></strong></p>
          <p class="text-black card-author"><em><%= data.book_author %></em></p>
        </div>
        <p class="text-black mb-0 card-note" style="white-space: pre-line;">
          <img class="card-cover" src="<%= data.book_cover %>" alt="book cover">
          <%= data.note %>
        </p>
        <p class="text-grey mb-0 card-year">Published: <%= data.book_year %></p>
      </div>
    </div>
  <% } else { %>
    <p>error</p>
  <% } %>
</div>

<%- include('partials/footer.ejs'); -%>
