<%- include('../partials/header.ejs'); -%>

<div class="container outline center" style="max-width: 900px !important;">
  <div class="form-container">
    <!-- ---------------- Modal trigger button ---------------- -->
    <button type="button" class="main-button btn-lg mb-3 minimize-txt" data-bs-toggle="modal" data-bs-target="#searchModal">
      Find book
    </button>

<!-- ---------------- note form ---------------- -->
    <form class="note-form edit-form" tabindex="-1" action="/add" method="post">
      <% if (locals.messages.error && locals.messages.error.length > 0) { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>Uh oh!</strong> <%= messages.error[0] %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% } %>
      <p id="book-title-display" class="minimize-txt"><strong>Book Title: </strong><br><%= locals.bookData?.length > 0 ? bookData.title : '**Book not selected' %></p>
      <p id="author-display" class="minimize-txt"><strong>Author: </strong><br><%= locals.bookData?.length > 0 ? bookData.author : '**Book not selected' %></p>
      <div class="checkbox-container d-flex minimize-txt justify-content-start align-items-center">
        <label for="private" style="padding: .5rem .5rem .5rem 0;"><strong>Private: </strong></label><br>
        <input type="checkbox" id="private" name="private" value=true>
      </div>
      <input type="hidden" id="selectedBookFormData" name="selectedBookFormData" value="<%= locals.bookData ? JSON.stringify(bookData) : '' %>" required>

      <label class="minimize-txt" for="rating"><strong>Rating: </strong></label>
      <select type="radio" id="rating" class="form-basic minimize-txt" name="rating" required>
        <option value="1" <%= locals?.submittedData?.rating == 1 ? "selected" : "" %>>1</option>
        <option value="2" <%= locals?.submittedData?.rating == 2 ? "selected" : "" %>>2</option>
        <option value="3" <%= locals?.submittedData?.rating == 3 ? "selected" : "" %>>3</option>
        <option value="4" <%= locals?.submittedData?.rating == 4 ? "selected" : "" %>>4</option>
        <option value="5" <%= locals?.submittedData?.rating == 5 ? "selected" : "" %>>5</option>
        <option value="6" <%= locals?.submittedData?.rating == 6 ? "selected" : "" %>>6</option>
        <option value="7" <%= locals?.submittedData?.rating == 7 ? "selected" : "" %>>7</option>
        <option value="8" <%= locals?.submittedData?.rating == 8 ? "selected" : "" %>>8</option>
        <option value="9" <%= locals?.submittedData?.rating == 9 ? "selected" : "" %>>9</option>
        <option value="10" <%= locals?.submittedData?.rating == 10 ? "selected" : "" %>>10</option>
      </select>
      <br>
      <label for="start" class="minimize-txt"><strong>Started on: </strong></label>
      <input type="month" id="start" name="start" class="form-basic minimize-txt" value="<%= locals?.submittedData?.start ? submittedData.start : '' %>"><br>
      <label for="finish" class="minimize-txt"><strong>Finished on: </strong></label>
      <input type="month" id="finish" name="finish" class="form-basic minimize-txt" value="<%= locals?.submittedData?.finish ? submittedData.finish : '' %>" required><br>
      <label for="note" class="minimize-txt"><strong>Note: </strong></label>
      <textarea name="note" class="edit-note form-basic minimize-txt" rows="14" cols="10" wrap="soft" style="overflow-y: scroll; resize: none;"><%= locals?.submittedData?.note ? submittedData.note : '' %></textarea><br>
      <label for="summary" class="minimize-txt"><strong>Summary: </strong></label>
      <textarea name="summary" class="edit-note form-basic minimize-txt" rows="14" cols="10" wrap="soft" style="overflow-y: scroll; resize: none;" required><%= locals?.submittedData?.summary ? submittedData.summary : '' %></textarea><br>
      <button class="main-button btn-lg minimize-txt" type="submit">Save</button>
    </form>
  </div>

  <!-- ---------------- Modal ---------------- -->
  <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="searchModalLabel">Search or Select a Book</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="search-results-container">
            <!-- ---------------- Book Search Form ---------------- -->
            <div>
              <div class="searchbar-form mb-2" style="position: relative; z-index: 0;">
                <div class="searchbar-input">
                  <input id="bookSearchInput" type="text" class="form-basic searchbar-input minimize-txt" name="bookSearchInput" title="search input" placeholder="Enter book title or author">
                </div>
                <div class="searchbar-button">
                  <button id="book-select" class="main-button btn-sm searchbar-button minimize-txt" type="button">
                    Select
                  </button>
                </div>
              </div>
              <div id="searchResultsContainer"></div>
              <input type="hidden" id="selectedBookData" name="selectedBook">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/footer.ejs'); -%>
